<nav>
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo">Logo</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="#">A link</a></li>
       <li><a class="waves-effect waves-light btn">A button</a></li>
     </ul>
   </div>
 </nav>
